.chartContainer {
  width: 100%;
  height: 200px;
  padding: 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px; /* Дополнительный отступ снизу */
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}


