.valueInput {
  width: 100px;
  text-align: right;
}

.chartContainer {
  width: 100%;
  height: 280px;
  padding: 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

